<p>
  <strong>Name:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Pay type:</strong>
  <%= @order.pay_type %>
</p>

<p>
  <strong>Order detail:</strong>
</p>
<table>
	<% @order.line_items.each do |line_item| %>
	  <tr>
	  	<td><%= line_item.product.title %> &times;</td>
			<td><%= line_item.quantity %></td>  
			<td class="item_price"><%= number_to_currency(line_item.total_price) %></td>
		</tr>                
	<% end %>
	<tr>
		<td>Total</td>
	  <td><%= number_to_currency(@order.total_price) %></td>
	</tr>  
</table>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
