<!-- START:head -->
<!DOCTYPE html>
<html>
 <head>
    <title>Pragmatic Bookstore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>
<!-- END:head -->
<body>
  <div id="wrapper"> 
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand"><a href="#">Brand</a></li>
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Shortcuts</a></li>
        <li><a href="#">Overview</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <% if @cart %>
        <%= hidden_div_if(@cart.line_items.empty?, id:'cart', class:'thumbnail') do %>
          <%= render @cart %>       
        <% end %>
      <% end %>
    </div>
  
    <div id="page-content-wrapper">
      <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
      <div class="page-content inset">
        <%= yield %>
      </div>
    </div>
  </div>
  <!-- Latest compiled and minified JavaScript -->
  <%= javascript_include_tag "application" %>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
  <!-- hide sidebar on mobile -->
  <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });
  </script>
</body>
</html>
